* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: none;
    width: 1000px;
    margin: 0 auto;
    padding-top: 10px;
    padding: 10px 10px;
    background-color: rgb(191, 224, 191);
}

.head1,
.head2,
.head3,
.head4,
.head5 {
    margin-bottom: 20px;
}

.head1 h1,
.head2 h1,
.head3 h3,
.head4 h3,
.head5 h3 {
    margin-bottom: 10px;
    color: rgb(255, 0, 85);
}

.head3 ul {
    list-style: none;
    margin-left: 20px;
}

.btn {
    text-align: left;
}