* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

.text-header {
  margin: 20px auto;
  font-size: 2em;
  text-align: center;
}

.news-container {
  width: 900px;
  margin: 0 auto;
}

.news-card {
  background-color: rgb(230, 112, 112);
  height: 150px;
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
}

.news-img {
  flex: 1;
  margin-right: 30px;
}

.news-content {
  flex: 3;
}

.img {
  width: 100%;
  height: 98%;
  border-radius: 5px;
}

.title-news {
  font-weight: bold;
  margin-bottom: 10px;
}

.title-author {
  display: inline-block;
  font-size: 0.8em;
  margin-right: 20px;
}

.title-publish {
  display: inline-block;
  font-size: 0.8em;
}

.title-desc {
  margin-top: 10px;
}

.news-content .icon {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: rgb(29, 238, 47);
  border-radius: 50%;
}